@mixin respond($breakpoint) {
    @if $breakpoint == 'phone' {
        @media (max-width: 1240px) { @content; }
    }
    @if $breakpoint == 'big-desktop' {
        @media (min-width: 1600px) { @content; }
    }
}

:root {
    /* grid variables */
    --size: 11px;
    --gap: 1px;
    // @include respond(big-desktop) {
    //     --size: 11px;
    // }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
  
body {
    margin: 0 auto;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: system-ui;
    background-color: #131322;
    color: white;

    // background-color: hsla(117, 40%, 15%, 1);
    // background-image: radial-gradient(circle at 3% 92%, hsla(161, 100%, 50%, 1) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsla(227.6470588235294, 100%, 50%, 1) 0%, transparent 81%), radial-gradient(circle at 93% 95%, hsla(230.2941176470588, 100%, 23%, 1) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(243.52941176470586, 100%, 9%, 1) 0%, transparent 150%);
    // background-blend-mode: normal, normal, normal, normal;
}
  
main {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 25px;
    @include respond(big-desktop) {
        --size: 14.5px;
        max-width: 1600px;
    }
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    
    @include respond(phone) {
        font-size: 38px;
        text-wrap: balance;
    }
}

.logic-box {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    gap: 20px;
}

input[type="number"] {
    width: 100px;
}

button {
    padding: 15px 20px;
    border: 0;
    border-radius: 8px;
    background-color:#146;
    color:#fff;
    cursor: pointer;
}
  
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--size) );
    grid-template-rows: repeat(auto-fit, var(--size) );
    place-items: start center;
    gap: var(--gap) calc(var(--gap)/3);
    transition: all .3s ease-in-out;
}

.gallery-img {
    width: calc(var(--size) * 6);
    height: calc(var(--size) * 6);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: auto / span 6;
    grid-row: auto / span 7;
    background-color: #1473c9;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-img[data-char^="empty-"], .gallery-img[data-char=""] {
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    pointer-events: none;
    @include respond(phone) {
        display: none;
    }
}
  
.gallery-img:before {
    content: '';
    background-color: #146;
    width: calc(var(--size) * 6);
    height: calc(var(--size) * 6);
    display: block;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    transform: scale(0.95);
    background-size: cover;
    background-position: center;
}

.gallery-img span {
    font-size: 28px;
    position: relative;
}
  
.gallery-img:hover:before {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

@for $i from 1 through 100 {
    @if $i % 2 == 0 {
        .staggered-#{$i} {
            transform: translateY(calc((-25%*#{$i}) + (var(--gap) *#{$i} )));
        }
    } @else {
        .staggered-#{$i} {
            transform: translateX(calc(50% + var(--gap))) translateY(calc((-25% * #{$i}) + (var(--gap) * #{$i})));
        }
    }
    
}

// MODAL
.modal {
    display: none;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
    align-items: center;
    animation: fadeIn .5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.modal-content {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & img {
      width: 100%;
      height: auto;
      display: block;
    }

    & img#selected-char {
        position: absolute;
        width: auto;
        height: 800px;
        top: -150px;
        left: -250px;
        @include respond(phone) {
            display: none;
        }
    }
}
.close {
    color: #e7e7e7;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: -50px;
    right: -50px;

    @include respond(phone) {
        position: unset;
        text-align: right;
        width: 100%;
        display: block;
    }

    &:hover,
    &:focus {
        color: #6d6d6d;
        text-decoration: none;
        cursor: pointer;
    }
}
.char-name {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    position: relative;
    @include respond(phone) {
        font-size: 24px;
    }
}

.transformations {
    position: absolute;
    display: flex;
    right: 50px;
    bottom: 100px;
    gap: 10px;
    
    @include respond(phone) {
        position: unset;
        justify-content: center;
        flex-flow: wrap;
        width: 80%;
        margin: 0 auto;
    }

    & .transformation {
        border: 1px solid;
        backdrop-filter: blur(10px);
        filter: grayscale(1);
        cursor: pointer;
        transition: filter .2s ease-in-out;
    }

    & .transformation:hover, & .transformation-selected{
        filter: none;
    }

    & img {
        width: 80px;
        @include respond(phone) {
            width: 70px;
        }
    }
}

.arrow-nav {
    background-color: #e8f5e4;
    display: flex;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: background-color .1s ease-in-out;

    @include respond(phone) {
        width: 32px;
        height: 32px;
        position: absolute;
        z-index: 1;
        padding: 2px;
    }

    &__left {
        @include respond(phone) {
            left: 0;
        }
    }
    &__right {
        @include respond(phone) {
            right: 0;
        }
    }

    & svg {
        stroke: #202529;
    }

    &:hover {
        background-color: #777c80;
    }
}