#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes hero-gradient-animation{0%{--y-0:98%; --c-0:hsla(358,0%,100%,0.86); --s-start-0:2%; --s-end-0:78.72573401919361%; --x-0:98%;}100%{--y-0:98%; --c-0:hsla(227,0%,100%,0.86); --s-start-0:2%; --s-end-0:78.72573401919361%; --x-0:2%;}}@property --y-0{syntax:'<percentage>';inherits:false;initial-value:98%}@property --c-0{syntax:'<color>';inherits:false;initial-value:hsla(358,0%,100%,0.86)}@property --s-start-0{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-0{syntax:'<percentage>';inherits:false;initial-value:78.72573401919361%}@property --x-0{syntax:'<percentage>';inherits:false;initial-value:98%}@property --y-1{syntax:'<percentage>';inherits:false;initial-value:91%}@property --c-1{syntax:'<color>';inherits:false;initial-value:hsla(227,85%,73%,0.42)}@property --x-1{syntax:'<percentage>';inherits:false;initial-value:98%}@property --s-start-1{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-1{syntax:'<percentage>';inherits:false;initial-value:78.72573401919361%}@property --c-2{syntax:'<color>';inherits:false;initial-value:hsla(266.02941176470586,85%,73%,0.42)}@property --s-start-2{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-2{syntax:'<percentage>';inherits:false;initial-value:61.288600779667334%}@property --x-2{syntax:'<percentage>';inherits:false;initial-value:14%}@property --y-2{syntax:'<percentage>';inherits:false;initial-value:21%}@property --c-3{syntax:'<color>';inherits:false;initial-value:hsla(195,85%,73%,0.42)}@property --y-3{syntax:'<percentage>';inherits:false;initial-value:79%}@property --x-3{syntax:'<percentage>';inherits:false;initial-value:52%}@property --s-start-3{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-3{syntax:'<percentage>';inherits:false;initial-value:61.288600779667334%}@property --c-4{syntax:'<color>';inherits:false;initial-value:hsla(48.00000000000001,85%,73%,0)}@property --s-start-4{syntax:'<percentage>';inherits:false;initial-value:2%}@property --s-end-4{syntax:'<percentage>';inherits:false;initial-value:61.288600779667334%}@property --x-4{syntax:'<percentage>';inherits:false;initial-value:94%}@property --y-4{syntax:'<percentage>';inherits:false;initial-value:13%}body{--y-0:98%;--c-0:hsla(358,0%,100%,0.86);--x-0:98%;--y-1:91%;--c-1:hsla(227,85%,73%,0.42);--x-1:98%;--c-2:hsla(266.02941176470586,85%,73%,0.42);--x-2:14%;--y-2:21%;--c-3:hsla(195,85%,73%,0.42);--y-3:79%;--x-3:52%;--c-4:hsla(48.00000000000001,85%,73%,0);--x-4:94%;--y-4:13%;;background-color:hsla(141,14%,16%,1);background-image:radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),transparent var(--s-end-0)),radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),transparent var(--s-end-1)),radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2),transparent var(--s-end-2)),radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3),transparent var(--s-end-3)),radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4),transparent var(--s-end-4));animation:hero-gradient-animation 10s linear infinite alternate;background-blend-mode:overlay,normal,normal,normal,normal;}